<?xml version='1.0' encoding='utf-8'?>
<widget id="io.ecodoe.chr" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EcoDoe</name>
    <description>doar para caridade</description>
    <author email="iantmessenger@gmail.com" href="https://iansouzafreire.github.io/Portfolio/">
        Ian Souza Freire and team 
    </author>
    <content src="login.html"/>
    <preference name="ErrorUrl" value="login.html"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
