@import "/www/css/globals.css";

p {
  font-family: var(--font-margarine);
}

h1, h2, h3, h4, h5, h6, a {
  font-family: var(--font-marko-one);
}

h1 {
  margin-top: 0;
  margin-bottom: 0.25vh;
  font-size: 4.5vw;
}

h6 {
  font-size: 1vw;
}

.subtitle {
  margin-top: 0.25vh;
}

main {
  background: white;
  padding: 48px 32px 48px 32px;
  margin-top: auto;
}

main h6:not(.subtitle) {
  margin-left: calc(50% - 8em);
  margin-bottom: 8px;
}

input {
  background: #CCE2CB;
  border: solid 1px #B6CFB6;
  border-radius: 16px;
  padding: 4px;
}

input:focus {
  outline: none;
}

.enter {
  margin-top: 2rem;
  border: none;
  border-radius: 16px;
  background: #92C0A4;
  color: white;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  transition: ease-in-out all 200ms;
}

.enter:hover {
  background: #6c9c90;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

a {
  color: grey;
  font-size: 1vw;
  text-decoration: none;
  background: linear-gradient(currentColor 5px 5px) 
    bottom left/
    var(--underline-width, 0%) 0.1em
    no-repeat;
  transition: background-size 500ms;
}

a:hover {
  --underline-width: 100%;
}

@media (max-aspect-ratio: 4/5) { 
/* Para celular */

#return {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 25vh;
  background: none;
  border: none;
}

#return img {
  width: 8vw;
}

body {
  background: transparent;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: var(--bg-img-phone-logo);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}

p {
  display: none;
  content: none;
}

main {
  padding: 0;
  margin: 0;
  size: 100vw 100vh;
  background: transparent;
}

.subtitle {
  margin-bottom: 10vh;
}

h1 {
  font-size: 12vw;
}

h6 {
  font-size: 4vw;
}

input {
  width: 75%;
  font-size: 4.5vw;
}

.enter {
  font-size: 5vw;
  margin-top: calc(5vh - 2vw);
  margin-bottom: 4vh;
}

.enter:hover {
  padding-left: 5vw;
  padding-right: 5vw;
}

a {
  font-size: 4vw;
}
}

@media (min-aspect-ratio: 4/5) and (max-aspect-ratio: 4/3) { 
/* Telas computador antigas */
#return {
  display: none;
}

body {
  background: var(--bg-primary-color);
  margin: 0;
  padding: 0;
}

p {
  display: none;
  content: none;
}

main {
  size: 100vw 100vh;
}

h6 {
  font-size: 2.5vw;
}

h1 {
  font-size: 5vw;
}

input {
  width: 50vw;
  font-size: 2.5vw;
}

.enter {
  font-size: 3vw;
  margin-bottom: 64px;
}

.enter:hover {
  padding-left: 4vw;
  padding-right: 4vw;
}

a {
  font-size: 3vw;
}
}

@media (min-aspect-ratio: 4/3) { 
/* Telas computador ou tv largas  */

#return {
  display: none;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: flex-end;
  background-image: var(--bg-img-logo);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  min-height: 64vh;
  margin-left: 65vw;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

input {
  width: 80%;
  font-size: 1vw;
}

.enter {
  font-size: 1vw;
}
}