@media (max-aspect-ratio: 4/5) { 
/* Para celular */
body {
  background: #ffee00;
}
}

@media (min-aspect-ratio: 4/5) and (max-aspect-ratio: 4/3) { 
/* Telas computador antigas */
body {
  background: #ff0000;
}
}

@media (min-aspect-ratio: 4/3) and (max-aspect-ratio: 1.85/1) { 
/* Telas computador atuais */
body {
  background: #2200ff;
}
}

@media (min-aspect-ratio: 1.85/1) { 
/* telas computador ou tv largas */
body {
  background: #37ff00;
}
}